* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

::selection {
    background-color: #ffffff;
    color: #000000;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: #0a3cce;
}

#page1 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page1>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#page1>nav {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    position: absolute;
    z-index: 9;
}

#page1 nav>img {
    width: 4.5%;
    cursor: pointer;
}

#right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#right-nav>button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.386);
    border-radius: 50px;
    color: #fff;
    height: 100%;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

#right-nav button:hover {
    border-color: #fff;
}

#right-nav>button:nth-child(1) {
    padding: 8px 0;
}

#right-nav .text {
    text-transform: initial;
    font-size: 1vw;
    font-weight: 500;
}

#right-nav .first {
    color: #0842d7;
}

#right-nav .second {
    color: #fff;
}

#right-nav>.learn-more::after {
    background-color: #fff;
}

/* Right Nav 2nd button */
#right-nav>#menu-icon-wrapper {
    padding: 7px 20px;
}

#menu-icon {
    width: 1.6vw;
    height: 1.6vw;
}

.menu-line {
    stroke: #fff;
    stroke-width: 2px;
    stroke-linecap: round;
}

/* Page1 Bottom */
#page1-bottom {
    /* background-color: magenta; */
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 0 10vw;
    z-index: 9;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#hero-content {
    /* background-color: lightgreen; */
    width: 90%;
}

#hero-content h3 {
    font-family: jost;
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    font-weight: 300;
    width: 60%;
}

#hero-content-inner {
    /* background-color: red; */
    width: 48%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3vw;
}

#hero-content-inner p {
    width: 90%;
    font-family: jost;
    color: #fff;
    font-size: 1.3vw;
    line-height: 1.2;
    font-weight: 300;
}

.learn-more {
    /* padding: 16px 52px; */
    width: 12vw;
    height: 3vw;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0842d7;
    font-family: jost;
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text-container {
    /* border: 2px solid red; */
    width: fit-content;
    height: 1.6vw;
    position: relative;
    overflow: hidden;
    /* white-space: nowrap; */
}

.text {
    /* border: 1px solid #000; */
    height: 100%;
    font-size: 1vw;
    text-transform: uppercase;
    align-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 9;
}

.learn-more::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0f0f17;
    transition: height 0.3s ease-in-out;
    z-index: 8;
}

.first {
    color: #fff;
}

.second {
    color: #0842d7;
}

.learn-more:hover {
    background-color: transparent;
    transition: background-color linear, 1s;
}

.learn-more:hover .text {
    transform: translateY(0%);
}

.learn-more:hover::after {
    height: 100%;
}

#scroll-indicator {
    /* background-color: lightblue; */
    display: inline-block;
    display: flex;
    align-items: center;
    gap: .8vw;
    color: #fff;
    cursor: pointer;
}

#scroll-indicator>h5 {
    font-family: jost;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
}

#scroll-indicator>i {
    font-size: 1vw;
    animation: arrow-bounce 1.7s infinite;
}

@keyframes arrow-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Text Fade */
.text-fade-page {
    width: 100vw;
    height: 100vh;
    background-color: #0a3cce;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.text-fade-content {
    width: 82%;
    font-family: jost;
    color: #fff;
    margin-top: 9%;
}

.text-fade-content h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}

.text-fade-content p {
    font-size: 4vw;
    line-height: 1.2;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.194);
}

#page2-content h2 {
    margin-bottom: 2vw;
}

/* Canvas */
.canvas-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

#page4 {
    align-items: center;
}

#page4-content {
    margin-top: 0;
}

#page4-content h2 {
    margin-bottom: 1.8vw;
}

#page6-content h2 {
    margin-bottom: 3vw;
}

#page6-content p {
    font-size: 4.3vw;
    line-height: 1;
}

/* Page7 */
#page7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page7-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid #ffffff29;
}

.page7-circle-inn {
    width: 65%;
    height: 65%;
    border-radius: 50%;
    border: 1px solid #ffffff99;
    font-family: jost;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.page7-circle-inn h1 {
    font-size: 3.5vw;
    font-weight: 300;
}

.page7-circle-inn h4 {
    font-size: 0.9vw;
    font-weight: 400;
    text-transform: uppercase;
}

/* Page8 */
#page8 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    /* margin-top: 10vw; */
}

#page8-content {
    position: absolute;
    z-index: 9;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

#page8-content h1 {
    font-family: jost;
    color: #fff;
    font-size: 5.8vw;
    font-weight: 300;
}

#page8 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page9 {
    width: 100%;
    height: 100vh;
    padding: 13vw 9vw 4.8vw 9vw;
}

#page9-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

#page9-left {
    width: 35%;
    padding-top: 1.5vw;
}

#page9-left h1 {
    font-family: jost;
    font-weight: 300;
    font-size: 6vw;
    line-height: 1;
    color: #fff;
    /* text-align: center; */
}

#page9-right {
    width: 65%;
}

#page9-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#page10 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 9vw;
    padding-bottom: 12vw;
    background: linear-gradient(#0a3cce, #02268e);
}

#page10-wrapper {
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-section {
    font-family: jost;
}

.features-section h1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.8vw;
    margin-bottom: 0.7vw;
}

.features-section p {
    color: #ffffffd9;
    font-weight: 300;
    font-size: 1.4vw;
}

#page11 {
    width: 100%;
    height: 100vh;
    background-color: #02268e;
    padding-top: 0.1px;
}

.page11-text-container {
    width: 30%;
    margin: 10vw 0 0 52vw;
}

.page11-text-container h1 {
    font-size: 6vw;
    font-weight: 300;
}

#image-marquee-container {
    width: 100%;
    height: 10vw;
    margin-top: 7vw;
    white-space: nowrap;
    overflow: hidden;
}

.image-marquee {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* border: 2px solid lime; */
    animation: marquee 10s linear infinite reverse;
}

.image-marquee .image-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-item {
    width: 16vw;
    height: 90%;
    display: inline-block;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-1 * (100% - 4px)));
    }
}

#page12 {
    width: 100%;
    min-height: 100vh;
    background-color: #0f0f17;
    font-family: jost;
}

#page12-top {
    padding: 7vw;
}

#page12-top h1 {
    color: #fff;
    font-weight: 300;
    font-size: 6.5vw;
    line-height: 1;
}

#page12-top button {
    background-color: #0842d7;
    margin-top: 4vw;
}

#page12-top .first {
    color: #0842d7;
}

#page12-top .second {
    color: #fff;
}

#page12-top .learn-more::after {
    background-color: #fff;
}

.social-item {
    width: 100%;
    border-bottom: 1px solid #ffffff29;
    padding: 2vw 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.social-item::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: #093cce;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.social-item:hover::after {
    height: 100%;
}

.social-item:first-child {
    border-top: 1px solid #ffffff29;
}

.social-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.6vw;
    z-index: 9;
}

.social-item i {
    color: #fff;
    font-weight: 100;
    font-size: 2vw;
    z-index: 9;
}

#page12-bottom {
    width: 100%;
    padding: 5vw 7vw;
}

#footer-container {
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.footer-links a {
    position: relative;
    text-decoration: none;
    width: fit-content;
    font-weight: 300;
    color: #fff;
    font-size: 1.1vw;
    white-space: nowrap;
    text-transform: uppercase;
}

.footer-links a::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: all 0.3s ease;
}

.footer-links a:hover::after {
    width: 100%;
}

.footer-nav-links {
    margin-right: 10vw;
}

.footer-contact-links {
    margin-right: 38vw;
}

.subscribe-container {
    width: 30%;
    /* background-color: red; */
}

.subscribe-container h3 {
    color: #fff;
    font-weight: 300;
    font-size: 2vw;
}

.subscribe-input-container {
    margin-top: 1.9vw;
    position: relative;
}

.subscribe-input-container input {
    border: none;
    border-bottom: 1px solid #ffffff29;
    outline: none;
    width: 100%;
    background-color: #0f0f17;
    color: #fff;
    font-size: 0.9vw;
    font-weight: 300;
    padding: 0.7vw 0;
}

.subscribe-input-container input::placeholder {
    color: #fff;
    font-weight: 300;
}

.subscribe-input-container i {
    color: #fff;
    font-size: 1.1vw;
    font-weight: 100;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#copyright {
    margin-top: 6.5vw;
}

#copyright p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1vw;
}

/* ---------------------------------------------------------------- */

/* Responsive */
@media (max-width: 480px) {
    /* Page1 Nav */
    #page1>nav {
        position: absolute;
        height: 10%;
    }

    #page1 nav>img {
        width: 12%;
    }

    /* Right Nav 1st button */
    #right-nav>button:nth-child(1) {
        display: none;
    }

    /* Right Nav 2nd button */
    #right-nav>#menu-icon-wrapper {
        padding: 8px 20px;
    }

    #menu-icon {
        width: 5vw;
        height: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Page1 Bottom */
    #page1-bottom {
        bottom: 24%;
        padding: 0 5vw;
    }
    
    #hero-content {
        width: 100%;
    }
    
    #hero-content h3 {
        font-size: 15vw;
        width: 100%;
    }
    
    #hero-content-inner {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 9vw;
        margin-top: 8vw;
    }
    
    #hero-content-inner p {
        width: 100%;
        font-size: 4.4vw;
        line-height: 1.6;
    }
    
    .learn-more {
        width: 40vw;
        height: 12vw;
    }
    
    .button-text-container {
        width: 30vw;
        height: 8vw;
    }
    
    .text {
        font-size: 3.7vw;
    }
    
    #scroll-indicator {
        display: none;
    }
}